:root{
    --main_bg-colour: #000;
    --main_text-colour: #fff;
    --inv : #0000;
    --tshad_base: 2px 2px 1px #000, 2px -2px 1px #000, -2px -2px 1px #000, -2px 2px 1px #000;
}
@font-face {
    font-family: 'Catalish Huntera Reg';
    src: url(../assets/fonts/catalish_huntera/Catalish\ Huntera.otf) format('opentype'), url(../assets/fonts/catalish_huntera/Catalish\ Huntera.ttf) format('truetype'), url(../assets/fonts/catalish_huntera/Catalish\ Huntera.woff) format('woff'), url(../assets/fonts/catalish_huntera/Catalish\ Huntera.woff2) format('woff2');
}
@font-face {
    font-family: 'AmongUs Regular';
    src: url(../assets/fonts/amongus-regular/AmongUs-Regular.eot) format('embedded-opentype'), url(../assets/fonts/amongus-regular/AmongUs-Regular.otf) format('opentype'), url(../assets/fonts/amongus-regular/AmongUs-Regular.ttf) format('truetype'), url(../assets/fonts/amongus-regular/AmongUs-Regular.woff) format('woff'), url(../assets/fonts/amongus-regular/AmongUs-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'Comic Serif';
    src: url(../assets/fonts/comic-serif/comic-serif.otf) format('opentype'), url(../assets/fonts/comic-serif/comic-serif.ttf) format('truetype'), url(../assets/fonts/comic-serif/comic-serif.woff) format('woff'), url(../assets/fonts/comic-serif/comic-serif.woff2) format('woff2');
}
@font-face {
    font-family: 'Catalish Huntera Italic';
    src: url(../assets/fonts/catalish_huntera/Catalish\ Huntera\ Italic.otf) format('opentype'), url(../assets/fonts/catalish_huntera/Catalish\ Huntera\ Italic.ttf) format('truetype'), url(../assets/fonts/catalish_huntera/Catalish\ Huntera\ Italic.woff) format('woff'), url(../assets/fonts/catalish_huntera/Catalish\ Huntera\ Italic.woff2) format('woff2');
}
* {
    margin: 0px; padding: 0px;
    background: var(--main_bg-colour);
}
.parallax-1 {
    width: 100%;
    height: 600px;
    background: url('../assets/media/neon1.jpg') fixed;
    background-size: 100% 100%;
}
.parallax-1 h2 {
    margin: auto;
    position: relative;
    top: 300px;
    height: 32px;
    background: var(--inv); 
    color: var(--main_text-colour);
    text-align: center;
    font-family: Comic Serif;
    text-shadow: var(--tshad_base);
}
.parallax-2 {
    width: 100%;
    height: 600px;
    background: url('../assets/media/neon2.jpg') fixed;
    background-size: 100% auto;
}
.parallax-2 h2 {
    margin: auto;
    position: relative;
    top: 300px;
    height: 37px;
    background: var(--inv);
    color: var(--main_text-colour);
    text-align: center;
    font-size: 30px;
    font-family: AmongUs Regular;
    text-shadow: var(--tshad_base);
}
span#navbar{
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-content: space-around;
    font-family: Catalish Huntera Reg;
    margin: 11px 12px 11px 12px;
	color: #000; text-shadow: 2px 2px #fff, 2px -2px #fff, -2px 2px #fff, -2px -2px #fff;
	background: var(--main_bg-colour);
}

/*

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
</style>
*/