/*! I dont know if this works yet i cant check rn */

:root{
    --main_bg-colour: #000015;
    --main_text-colour: #fff;
    --inv : #0000;
    --tshad_1: 2px 2px 1px #000, 2px -2px 1px #000, -2px -2px 1px #000, -2px 2px 1px #000;
    --tshad_2: 2px 2px 1px #fff, 2px -2px 1px #fff, -2px -2px 1px #fff, -2px 2px 1px #fff;
}
@font-face {
    font-family: 'Catalish Huntera Reg';
    src: url(../assets/fonts/catalish_huntera/Catalish\ Huntera.otf) format('opentype'), url(../assets/fonts/catalish_huntera/Catalish\ Huntera.ttf) format('truetype'), url(../assets/fonts/catalish_huntera/Catalish\ Huntera.woff) format('woff'), url(../assets/fonts/catalish_huntera/Catalish\ Huntera.woff2) format('woff2');
}
@font-face {
    font-family: 'AmongUs Regular';
    src: url(../assets/fonts/amongus-regular/AmongUs-Regular.eot) format('embedded-opentype'), url(../assets/fonts/amongus-regular/AmongUs-Regular.otf) format('opentype'), url(../assets/fonts/amongus-regular/AmongUs-Regular.ttf) format('truetype'), url(../assets/fonts/amongus-regular/AmongUs-Regular.woff) format('woff'), url(../assets/fonts/amongus-regular/AmongUs-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'Comic Serif';
    src: url(../assets/fonts/comic-serif/comic-serif.otf) format('opentype'), url(../assets/fonts/comic-serif/comic-serif.ttf) format('truetype'), url(../assets/fonts/comic-serif/comic-serif.woff) format('woff'), url(../assets/fonts/comic-serif/comic-serif.woff2) format('woff2');
}
@font-face {
    font-family: 'Catalish Huntera Italic';
    src: url(../assets/fonts/catalish_huntera/Catalish\ Huntera\ Italic.otf) format('opentype'), url(../assets/fonts/catalish_huntera/Catalish\ Huntera\ Italic.ttf) format('truetype'), url(../assets/fonts/catalish_huntera/Catalish\ Huntera\ Italic.woff) format('woff'), url(../assets/fonts/catalish_huntera/Catalish\ Huntera\ Italic.woff2) format('woff2');
}
* {
    margin: 0px; padding: 0px;
    background: var(--main_bg-colour);
}
.parallax-1 {
    width: 100%;
    height: 600px;
    background: url('../assets/media/neon1.jpg') fixed;
    background-size: 100% 100%;
}
.parallax-1 h2 {
    margin: auto;
    position: relative;
    top: 300px;
    height: 32px;
    background: var(--inv); 
    color: var(--main_text-colour);
    text-align: center;
    font-family: Comic Serif;
    text-shadow: var(--tshad_1);
}
.parallax-2 {
    width: 100%;
    height: 600px;
    background: url('../assets/media/neon2.jpg') fixed;
    background-size: 100% auto;
}
.parallax-2 h2 {
    margin: auto;
    position: relative;
    top: 300px;
    height: 37px;
    background: var(--inv);
    color: var(--main_text-colour);
    text-align: center;
    font-size: 30px;
    font-family: AmongUs Regular;
    text-shadow: var(--tshad_1);
}
span#navbar{
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-content: space-around;
    font-family: Catalish Huntera Reg;
    margin: 11px 12px 11px 12px;
	color: #000; text-shadow: var(--tshad_2);
	background: var(--main_bg-colour);
    position: fixed;
    top: 0; right: 0; left: 0;
}
#modeTog{
    border: none;
    background: var(--inv);
    position: relative;
    right: 5px; top: auto;
}